<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body style="text-align: center;">
    <h3>员工列表</h3>
    <a th:href="@{/emp}">添加员工</a>
    <table>
        <thead>
            <tr>
            <tr>
                <th>#</th>
                <th>lastName</th>
                <th>email</th>
                <th>gender</th>
                <th>department</th>
                <th>birth</th>
                <th>操作</th>
            </tr>
            </tr>
        </thead>
        <tbody>
            <tr th:each="emp:${emps}">
                <td th:text="${emp.id}"></td>
                <td>[[${emp.lastName}]]</td>
                <td th:text="${emp.email}"></td>
                <td th:text="${emp.gender} == 0 ? '女' : '男'"></td>
                <td th:text="${emp.department.departmentName}"></td>
                <td th:text="${#dates.format(emp.birth, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                    <a th:href="@{/emp/} + ${emp.id}">编辑</a>

                    <form id="deleteEmpForm"  method="post" th:action="@{/emp/}+${emp.id}">
                        <input type="hidden" name="_method" value="delete"/>
                        <button th:attr="del_uri=@{/emp/}+${emp.id}" type="submit">删除</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>